<!DOCTYPE html>
<html>
  <head>
    <title>Lab-4</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Himanshu</h1>
    <p>Welcome to gulp</p>
  </body>
</html>
